.social_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 40px;
  // padding-top: 20px;
  h3 {
    font-size: 18px;
    color: #0e274c;
    font-weight: 500;
  }

  .socials_boxes {
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
      li {
        list-style-type: none;
        a {
          width: 42px;
          height: 42px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: #0e274c;
          .MuiSvgIcon-root {
            color: #ffffff;
            font-size: 20px;
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
  @media screen and (max-width: 760px) {
    flex-direction: column-reverse;
    gap: 20px;
    justify-content: center;
    align-items: center;

    h3 {
      font-size: 14px;
    }
  }
}
