@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Heebo:wght@300;400;500;600;700&family=Inter:wght@200;300;400;500;600;700&family=Kablammo&family=Noto+Sans:wght@300;400;500;600;700&family=Nunito:ital,wght@0,300;1,300&family=Open+Sans:wght@400;500;600;700&family=PT+Sans:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Roboto:wght@300;400;500;700&family=Rubik:wght@300;400;500;600&family=Tilt+Prism&family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Caprasimo", cursive;
  font-family: "Heebo", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Kablammo", cursive;
  font-family: "Noto Sans", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "PT Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Tilt Prism", cursive;
  font-family: "Wix Madefor Display", sans-serif;
}
.app {
  margin: 0 auto;
  max-width: 1670px;
}

/* text color  */

/* #041e34   #045ffb #164d88 */

.app_container {
  width: 100%;
  background-color: #d4dcf2;
  margin-top: 60px;
  min-height: calc(100vh - 60px);
  padding: 10px 50px;
}
.app_content {
  background-color: #d4dcf2;
  min-height: calc(100vh - 153px);
}

.app_main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  min-height: calc(100vh - 225px);
  gap: 10px;
}
.app_main_full {
  margin-top: 20px;
  min-height: calc(100vh - 225px);
}
.p-2 {
  padding: 20px;
}
.title {
  text-align: center;
  font-size: 45px;
  display: inline-block;
  font-weight: 600;
  background: -webkit-linear-gradient(right, #2ea2d7, #041e34);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  flex-direction: column;
}
.title span {
  height: 5px;
  width: 50px;
  background: linear-gradient(to right, #2ea2d7, #041e34);
  display: inline-block;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 12px;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #2ea2d7, #041e34);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.MuiButtonBase-root {
  z-index: 1 !important;
}

@media (max-width: 800px) {
  .app_container {
    padding: 10px 20px;
  }
  .app_main {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .title {
    font-size: 35px;
  }
}
