.app_main_full {
  .spend_box {
    padding-bottom: 30px;
    padding-right: 10px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;

    .MuiButtonBase-root {
      padding: 12px;
      background-color: #bccbe3;
      .MuiSvgIcon-root {
        color: #06455b;
        font-size: 20px;
      }
    }
  }
  .projects_content {
    .slick-slider {
      width: 100%;
      height: 100%;
      overflow: hidden;
      .slick-list {
        display: block;
        .slick-track {
          display: flex;
          justify-content: center;
          gap: 20px;
          .slick-slide {
            display: inline-block;
            div {
              .project {
                width: 100%;
                border-radius: 5px;
                position: relative;

                .img_box {
                  width: 100%;
                  height: 350px;
                  display: flex;
                  background-color: #f4f8ff;
                  justify-content: center;
                  align-items: center;
                  border-radius: 5px 5px 0 0;
                  transition: all 0.3s ease;
                  position: relative;
                  img {
                    max-width: 100%;
                    max-height: 100%;
                    border-radius: 12px 12px 0 0;
                    object-fit: cover;
                  }

                  .eyeIconBox {
                    transition: all 0.3s ease;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(9, 18, 114, 0.3);
                    backdrop-filter: blur(5px);
                    opacity: 0;
                    border-radius: 5px 5px 0 0;
                    z-index: -1;

                    .admin_panel {
                      padding: 5px 12px;
                      border-radius: 5px;
                      background-color: #1076b1;
                      color: #ffffff;
                      font-size: 14px;
                    }

                    a {
                      text-decoration: none;
                      display: inline-block;
                      .eyeIcon {
                        font-size: 35px;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        color: #ffffff;
                      }
                      &:hover {
                        .eyeIcon {
                          color: #bccbe3;
                        }
                      }
                    }
                  }
                  &:hover {
                    .eyeIconBox {
                      z-index: 1;
                      opacity: 1;
                    }
                  }
                }
                .project_info {
                  padding: 15px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  text-align: center;
                  flex-direction: column;
                  background-color: #06455b;
                  border-radius: 0 0 5px 5px;
                  gap: 10px;
                  height: calc(100% - 240px);
                  .project_text {
                    p {
                      color: #ffffff;
                      font-size: 16px;
                    }
                  }
                  .projects_demo {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 15px;
                    .MuiButtonBase-root {
                      text-transform: capitalize;
                      &:hover {
                        background-color: #1076b1;
                        color: #ffffff;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
