.contact_info {
  .contact_img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 40px;
    -webkit-box-shadow: 0px 0px 13px -5px rgba(119, 191, 247, 0.6);
    -moz-box-shadow: 0px 0px 13px -5px rgba(119, 191, 247, 0.6);
    box-shadow: 0px 0px 13px -5px rgba(119, 191, 247, 0.6);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  h2 {
    font-size: 18px;
    font-weight: 800;
    color: #041e34;
  }
  .social_text {
    margin-top: 18px;
  }
  ul {
    margin-top: 10px;
    li {
      list-style-type: none;

      a {
        display: inline-block;
        margin-top: 12px;
        text-decoration: none;
        font-size: 25px;
        font-weight: 700;
        color: #041e34;
        transition: all 0.3s ease;
        &:hover {
          color: #2ea2d7;
        }
      }
    }
  }

  @media (max-width: 800px) {
    .contact_img {
      margin: 0 auto;
      border-radius: 50%;
    }
    h2 {
      margin-top: 20px;
    }
    ul {
      li {
        a {
          font-size: 15px;
        }
      }
    }
  }
}
.contact_form {
  h2 {
    font-size: 45px;
    font-weight: 800;
  }
  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    p {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      label {
        font-size: 18px;
        font-weight: 600;
      }
      input,
      textarea {
        height: 45px;
        border: none;
        outline: none;
        background-color: inherit;
        font-size: 20px;
        font-weight: 600;
        color: #041e34;
        border-bottom: 2px solid #041e34;
        transition: all 0.3s ease;

        &::placeholder {
          color: rgba(0, 32, 79, 0.7);
        }
        &:focus {
          border-bottom: 2px solid #2ea2d7;
        }
      }
      textarea {
        margin-top: 12px;
        resize: none;
        width: 100%;
      }

      .MuiButtonBase-root {
        width: 50%;
        height: 45px;
        color: #ffffff;
        background-color: #496185;
        border-radius: 12px;
        font-weight: 500;
        &:hover {
          background-color: #2ea2d7;
        }

        @media screen and (max-width: 760px) {
          width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 420px) {
    h2 {
      font-size: 32px;
      font-weight: 800;
    }
  }
}
