nav {
  background-color: inherit;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  -webkit-box-shadow: 0px 3px 5px -5px rgba(0, 141, 249, 0.6);
  -moz-box-shadow: 0px 3px 5px -5px rgba(0, 141, 249, 0.6);
  box-shadow: 0px 3px 5px -5px rgba(0, 141, 249, 0.6);
  background-color: #1076b1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  max-width: 1970px;

  .logo {
    font-size: 24px;
    font-weight: 600;
    a {
      color: rgb(1, 32, 80);
      text-decoration: none;
      transition: all 0.3s ease;
      background-color: #ffffff;
      padding: 0 6px;
      border-radius: 5px;
      border-bottom: 2px solid #1076b1;

      span {
        color: #1076b1;
        transition: all 0.3s ease;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .MuiButtonBase-root {
      background-color: inherit;
      text-transform: capitalize;
      font-size: 16px;
      font-weight: 400;
      color: #ffffff;
      height: 100%;
      border-radius: 5px;

      &:hover {
        color: #a3ddff;
      }
      &.active {
        color: #a3ddff;
      }
    }
  }

  .nav_menu {
    width: 28px;
    height: 18px;
    cursor: pointer;
    display: none;
    span {
      width: 100%;
      height: 2px;
      background-color: #ffffff;
      display: block;
      border-radius: 5px;
      transition: all 0.3s ease;
    }
  }

  @media screen and (max-width: 760px) {
    padding: 0 20px;
    .nav_links {
      display: none;
    }
    .nav_menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      &.active {
        span:nth-child(2) {
          opacity: 0;
        }
        span:nth-child(1) {
          transform: translate(0, 8px) rotate(-45deg);
        }
        span:nth-child(3) {
          transform: translate(0, -8px) rotate(45deg);
        }
      }
    }
  }
}

.left_menu {
  position: fixed;
  top: 60px;
  left: -350px;
  width: 350px;
  min-height: calc(100vh - 60px);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
  z-index: 12;
  padding: 20px;
  transition: all 0.3s ease;

  .nav_links_left {
    width: 100%;
    .MuiButtonBase-root {
      text-transform: capitalize;
      font-size: 16px;
      font-weight: 400;
      color: #1076b1;
      width: 100%;
      height: 50px;
      border-radius: 5px;
      background-color: inherit;

      &:hover {
        color: #ffffff;
        background-color: #496185;
      }
      &.active {
        color: #ffffff;
        background-color: #1076b1;
      }
    }
  }

  &.active {
    left: 0;
  }
}

.left_back {
  position: fixed;
  top: 60px;
  width: 100%;
  height: calc(100vh - 60px);
  background-color: rgba(1, 32, 80, 0.7);
  backdrop-filter: blur(7.5px);
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease;

  &.active {
    opacity: 1;
    z-index: 11;
  }
}
