.app_container {
  .app_main {
    .about_text {
      .about_img {
        width: 250px;
        height: 250px;
        overflow: hidden;
        border-radius: 50%;
        margin-top: 15px;
        -webkit-box-shadow: 0px 0px 13px -5px rgba(119, 191, 247, 0.6);
        -moz-box-shadow: 0px 0px 13px -5px rgba(119, 191, 247, 0.6);
        box-shadow: 0px 0px 13px -5px rgba(119, 191, 247, 0.6);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .about_title {
        h2 {
          font-size: 25px;
          font-weight: 800;
          color: #06455b;
        }
      }
      .about_me {
        margin-top: 20px;
        p {
          color: #06455b;
          font-size: 20px;
          font-weight: 600;
        }
      }
    }
    .skill_content {
      .skill_title {
        h2 {
          font-size: 25px;
          font-weight: 800;
          color: #06455b;
        }
      }
      .skill_boxes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 20px;
        gap: 10px;
        .skill_box {
          width: 100%;
          height: 100px;
          border-radius: 7px;
          background-color: #ffffff;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          text-align: center;
          padding: 12px 0;
          -webkit-box-shadow: 0px 1px 8px 0px rgba(15, 132, 222, 0.2);
          -moz-box-shadow: 0px 1px 8px 0px rgba(15, 132, 222, 0.2);
          box-shadow: 0px 1px 8px 0px rgba(15, 132, 222, 0.2);
          transition: 0.3s ease;

          .img_box {
            width: 50px;
            height: 50px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: all 0.3s ease;
              border-radius: 50%;
            }
          }
          p {
            font-size: 20 px;
            font-weight: 600;
            color: #06455b;
          }

          &:hover {
            img {
              animation: scaled 0.5s linear infinite;
            }
          }
          &:hover {
            background-color: rgba(255, 255, 255, 0.6);
          }

          @keyframes scaled {
            0% {
              transform: scale(1);
            }
            50% {
              transform: scale(1.2);
            }
            100% {
              transform: scale(1);
            }
          }
        }
      }
    }

    @media screen and (max-width: 800px) {
      grid-template-columns: 1fr;
      gap: 20px;
      padding: 12px;

      .about_text {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        h2 {
          font-size: 32px;
        }
        p {
          font-size: 18px;
        }
      }

      .skill_content {
        .skill_boxes {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
    }

    @media screen and (max-width: 420px) {
      .skill_content {
        .skill_boxes {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
}
